{% extends 'base.html' %}
{% block title %}index{% endblock title %}
{% block content %}
<div class="container emp-profile" style="margin-top: 20px;background-color:#222120a9;">
    <div class="row">
        <div class="col-md-3">
            <img src="https://th.bing.com/th/id/OIP.XMk2zCp7rMtiqdKS3-tuswHaHa?pid=ImgDet&rs=1" alt="" width="50%">
            <h6 class="p-1 text-center w-50" style="color:white">PICTURE</h6>

        </div>
        <div class="col-md-6">
            <div class="profile-head">
            </div>
        </div>
        <div class="col-md-3">
            <a href="{% url 'register' %}" style="text-decoration: none;"><div class="row"><button class="btn btn-outline-light">ADD PROFILE</button></div></a>
            <a href="{% url 'index' %}" style="text-decoration: none;"><div class="row"><button class="btn btn-outline-light" style="margin-top: 20px;">RETURN</button></div></a>
        </div>
    <hr style="margin: 30px 0;color:white;">
    <div class="row">
        <table class="table table-striped">
            <thead class="table-dark text-center">
                <tr>
                    <th>NAME</th>
                    <th>PHONE</th>
                    <th>EMAIL</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for person in profiles %}
                <tr>
                    <td>{{person.first_name}} {{person.last_name}}</td>
                    <td>{{person.phone}}</td>
                    <td>{{person.email}}</td>
                    <td>
                        <a href="{% url 'modify' person.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg></a>
                    </td>
                    <td>
                        <a href="{% url 'delete' person.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                        </svg></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col btnbackground">
            <button class="btn btn-outline-danger cust_btn2">RESET</button>
            <a href="{% url 'profiles' %}"><button class="btn btn-outline-primary cust_btn2">REFRESH</button></a>
        </div>
    </div>
</div>
{% endblock content %}